@font-face {
    font-family: 'Malvie';
    src: url('Malvie.woff2') format('woff2'),
        url('Malvie.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

